<p id="notice"><%= notice %></p>

<div id="showPage">

  <div id="wrapper">
    <div id="avatar">
      <% if @user.avatar != nil %>
          <%= image_tag @user.avatar %>

      <% else%>
          <%= image_tag 'missing.jpg' %>

      <% end %>

    </div>

    <div id="fname">
      <strong>First Name:</strong><%= @user.fName %>
    </div>

    <div id="fname">
      <strong>Last Name:</strong>
      <%= @user.lName %>
    </div>

    <div>
      <strong>Email:</strong>
      <%= @user.email %>
    </div>

    <div>
      <strong>Age:</strong>
      <%= @user.age %>
    </div>

    <div>
      <strong>Dob:</strong>
      <%= @user.dob %>
    </div>

  </div>

  <div id="comment">
    <strong>Comment</strong></br>
    <%= @user.comments %>
  </div>

    <%= link_to 'Edit', edit_profile_path(@user) %>





</div>
