<p id="notice"><%= notice %></p>

<div id="showPage">


  <div id="avatar">
    <% if @user.avatar != nil %>
        <%= image_tag @user.avatar %>

    <% else%>
        <%= image_tag 'missing.jpg' %>

    <% end %>

  </div>
  <div id="profile_content">
    <p>
      <strong>First Name:</strong>
      <%= @user.fName %>
    </p>
    <p>
      <strong>Last Name:</strong>
      <%= @user.lName %>
    </p>

    <p>
      <strong>Comment: </strong>
      <%= @user.comments %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Age:</strong>
      <%= @user.age %>
    </p>

    <p>
      <strong>Dob:</strong>
      <%= @user.dob %>
    </p>

    <%= link_to 'Edit', edit_profile_path(@user) %>



  </div>

</div>
