<p id="notice"><%= notice %></p>

<div id="showPage">


  <div id="avatar">
    <% if @profile.avatar_image != nil %>
        <%= image_tag @profile.avatar_image %>

    <% else%>
        <%= image_tag 'missing.jpg' %>

    <% end %>

  </div>
  <div id="profile_content">
    <p>
      <strong>Name:</strong>
      <%= @profile.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @profile.email %>
    </p>

    <p>
      <strong>Age:</strong>
      <%= @profile.age %>
    </p>

    <p>
      <strong>Dob:</strong>
      <%= @profile.dob %>
    </p>

    <%= link_to 'Edit', edit_profile_path(@profile) %>



  </div>

</div>
