<div id="galaxyStyle">
  <div id="galaxyTopContainer">
    <h1>My Galaxy</h1>
    <%= form_tag(find_friends_path, method: 'post', id: 'findFriendsForm', :remote => true) do %>
        <%= text_field_tag(:find_friends) %>
        <%= submit_tag 'Find Friends' %>
    <% end %>
    <%= content_tag 'div', '', id: 'findFriendsResults' %>
    <% if (current_user && current_user.email) %>
        <h2><%= current_user.email %>'s Galaxy</h2>
    <% end %>
    <%= link_to 'New Post', new_galaxy_path, class: 'makeButton' %>
  </div>
  <div id="galaxies" class="border"><span><%= paginate @galaxies %></span>
    <% @galaxies.each do |galaxy| %>
        <div class='galaxy'>
          <% if galaxy.image != '' %>
              <%= image_tag(galaxy.image) %>
          <% end %>
          <p><span><%= @current_user.email %>:&nbsp;<%= time_ago_in_words(galaxy.created_at) %> ago &nbsp;</span><br>
            <%= galaxy.content %></p>
          <%= link_to 'Edit', edit_galaxy_path(galaxy) %>
          <%= link_to 'Delete', galaxy, method: :delete, data: {confirm: 'Are you sure?'} %>
        </div>
    <% end %>
  </div>
  <div id="myFriends">
    <h3>My Friends</h3>
    <ul>
      <% @friends.each do |friend| %>
          <%= content_tag 'li', friend.email %>
      <% end %>
    </ul>
  </div>
</div>